<ion-view view-title="Control">
  <ion-content>
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <button class="button button-positive icon ion-android-arrow-dropup-circle" on-release="mover(speed,'U')"></button>
      </div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col">
        <button class="button button-positive icon ion-android-arrow-dropleft-circle" on-release="mover(speed,'L')"></button>
      </div>
      <div class="col"></div>
      <div class="col">
        <button class="button button-positive icon ion-android-arrow-dropright-circle" on-release="mover(speed,'R')"></button>
      </div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <button class="button button-positive icon ion-android-arrow-dropdown-circle" on-release="mover(speed,'D')"></button>
      </div>
      <div class="col"></div>
    </div>
  </ion-content>
</ion-view>
